*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'SBAggroB';
}

@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



button{

    cursor: pointer;

}

body{
    height: 410vh;
    border : 1px solid black; 
}

header{

    height: 10vh;
    border : 1px solid black; 
    display: flex;
    background-color: bisque;
    position :sticky;
    top:0px;
    overflow: hidden;

    z-index: 99;

   
}

header>div,header>nav{

    flex:1;
    border : 1px solid black; 
}

header>nav:nth-child(2){
    display: flex;
    justify-content: flex-end;
    

}

header>nav>button{
    padding: 10px 10px;
    font-size: 30px;
    font-family: SBAggroB;
    border : none;
    border-radius: 50%;
    background-color: transparent;
    background-color: rgb(20 220 22 0.5);
    margin-left: 80px;

   
}



main{
    height: 390vh;
    border : 1px solid black; 

}

main>section:nth-child(1){
    height: 90vh;
    background-color: antiquewhite;

}


@keyframes blink{
    30% {
        opacity: 0;
      }

}



#title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 50px;
    animation: blink 1s step-end infinite;
    color: black;

}





main>section:nth-child(2){
    height: 300vh;

}

main>section>div{
    flex:1;
    height: 33.33%;
    border : 1px solid black; 
    padding-top: 90px;
}

#me{
    background-color: antiquewhite;

}

.backgroundimage{
  background-image: url(images/clement-helardot-95YRwf6CNw8-unsplash.jpg);
  background-size: cover;

}

#me>div:nth-child(1){
    height: 10%;
    border : 1px solid black; 
    font-size: 50px;
    display: flex;
    justify-content: center;
}


#me>div:nth-child(2){
    height: 90%;
    border : 1px solid black; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}



#skill{
    background-color: blanchedalmond;

}

#skill>div:nth-child(1){
    height: 10%;
    border : 1px solid black; 
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#skill>div:nth-child(2){
    height: 90%;
    border : 1px solid black; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
}



#poto{
    background-color: blanchedalmond;
}


#poto>div:nth-child(1){
    height: 10%;
    border : 1px solid black; 
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}


#poto>div:nth-child(2){
    height: 90%;
    border : 1px solid black; 
    display: flex;
    justify-content: center;
    align-items: center;
}










footer{
    height: 10vh;
    border : 1px solid black; 
    background-color: rgb(206, 199, 199);
    display:flex;
    align-items: center;
    justify-content: center;

}